

/*Start uper Bar*/
.upper-bar{
    background-color: #08526d;
    color:#FFF;
    
}
.upper-bar .info{
    margin: 15px 0
}
@media(max-width : 576px) {
    .upper-bar .info:first-child{
        margin-bottom: 0;
    }
}
.upper-bar span{
    color:#bfc6c9;
}
.upper-bar .get-Qoute{
    display: inline-block;
    border: 1px solid #ed1d24;
    padding: 2px 10px;
    margin-left: 20px;
}
@media(max-width : 576px) {
    .upper-bar .get-Qoute{
        border: none;
        margin-left: 5px;
    }
}
/*End uper Bar*/
/*Start Navbar*/
.navbar-brand > span{
    
    font-size: 40px;
}
.navbar-brand span:first-child{
    color:#08526d;
    font-weight: bold;
}
.navbar-brand span:last-child{
    color:#ec1c23;
    
}
.navbar-nav  .nav-link{
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 20px;
    color:#08526d;
    font-weight: bold;
}
 .navbar-nav  .active > .nav-link{
    color:#ed1d24!important
 }
/*End NAvbar*/
/*Start Slider*/
.slider{
    background-color: #DDD;
}
.slider .carousel-inner{
    display: flex;
    align-items: center;
    justify-content: left;

}
@media(max-width: 768px ){
    .slider .carousel-inner{
        justify-content: center;
    }
}
.slider .carousel-inner h1 {
    position: absolute;
    color: white;
    z-index: 3;
    font-size: 70px;
    max-width: 900px;
    left: 100px;
    line-height: 1.5;

}
@media(max-width: 768px ){
    .slider .carousel-inner h1{
    font-size: 40px;
    max-width: 100%;
    left: auto;
    line-height: 1.5;
    text-align: center;
    }
}
@media(max-width:  992px ){
    .slider .carousel-inner h1{
    font-size: 50px;
    
    }
}
.slider .carousel-inner h1 span{
   background-color: #ed1d24;
   color: #FFF;
   display: inline-block;
   padding: 2px 10px;
}
.slider .carousel-inner .overlay{
        position: absolute ;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .6);
        z-index: 2;
}
.slider .carousel-item  {
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}
.slider .carousel-one{
  background-image: url(../images/77850.jpg);
 
 }
.slider .carousel-two {
    background-image: url(../images/background-macbook.jpg);
 
 }
 .slider .carousel-three {
    background-image: url(../images/btx-background-placeholder-04.jpg);
 }
 .slider .carousel-indicators li {
     height: 8px;
     cursor: pointer;
 }
/*End Slider*/
/* Start Features*/
.features{
    padding: 50px 0;

}
.features i{
    background-color: #ed1d24;
    color: #FFF;
    padding: 12px;
    margin-bottom: 10px;

}
.features h3{
    color:#ed1d24;
    font-size: 22px;
}
.features p{
    color:#989898; 
    margin-bottom:40px; 
}
/*End Features*/
/*Start overview*/
.overview{
    padding: 100px 0;
    background-color: #f0f5f7;
}
.overview h2{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}
@media(max-width:  992px ){
    .overview h2{
        font-size: 30px;
        margin-bottom: 15px;
    }
}
.overview p{
line-height: 2;
font-size:20px;
width: 80%;
margin: 0 auto 15px;
color:#6a6a6a6a;
}
@media(max-width:  992px ){
    .overview p{
        width: 100%;
        }
}
.overview h4{
letter-spacing: 2px;
font-weight: normal;
color:#6a6a6a6a;
margin-bottom: 40px;
}
.overview button{
background-color: #ed1d24;
color:white;
padding: 10px 30px;
font: size 20px;
font-weight: bold;
border: 1px solid #ed1d24;;

}
/*End overview*/




/*Start Featurend Work*/
.Featurnd-work{

    padding: 100px 0;

 }
 .Featurnd-work h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.Featurnd-work p{
    line-height: 1.6;
    font-size:20px;
    width: 80%;
    margin: 0 auto 15px;
    color:#6a6a6a6a;
    }
    .Featurnd-work ul{
        margin-top:40px;
        margin-bottom:50px;
    }
    .Featurnd-work ul li{
        color: #08526d;
        border: 2px solid #08526d;
        padding: 10px 20px !important;
        margin-left:10px;
        margin-bottom:10px;
          -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
         transition: all .3s ease-in-out;
    }
    .Featurnd-work ul li.active,
    .Featurnd-work ul li:hover{
        background-color: #ed1d24;
        border: 2px solid #08526d;
        color: #FFFF;
    }
    .Featurnd-work ul li:hover{
        cursor: pointer;

    }
    .Featurnd-work .shuffel-imgs .row {
        margin:0;
      }   
   
   
    .Featurnd-work .shuffel-imgs .row .col-md{
        padding: 0;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
         transition: all .5s ease-in-out;
    }
    .Featurnd-work .row img{
        width: 100%;
    }
/*End  Featurend Work*/
/*Start Latest Postes*/
.latest-post{

    padding: 0 0 100px;

 }
.latest-post h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.latest-post .section-descirption{
    line-height: 1.6;
    font-size:20px;
    width: 80%;
    margin: 0 auto 45px;
    color:#6a6a6a6a;
    }
    .latest-post .card{
        margin-bottom: 30px;
    }
    .latest-post .card .card-title{
        font-size: 20px;
        line-height: 1.5;
        color: #08526d
    }
    .latest-post .card .card-text{
        color: #787878
    }
    .latest-post .card .card-link{
        color:#ed1d24;
        margin-bottom: 5px;
        font-weight: bold;
    }
/*End Latest Postes*/
/*Start Pricing-Table*/
.Pricing-Table{
    background-color: #f7f7f7;
    padding:100px 0 100px;

 }
.Pricing-Table h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.Pricing-Table .section-descirption{
    line-height: 1.6;
    font-size:20px;
    width: 80%;
    margin: 0 auto 85px;
    color:#6a6a6a6a;
    }
    @media(max-width:  992px ){
        .Pricing-Table .section-descirption{
            width: 100%;
            margin-bottom: 40px;
        }
    }
    .Pricing-Table.card{
        margin-bottom: 30px;
    }
    .Pricing-Table .card-body{
        padding: 0;
    }
    .Pricing-Table .card .card-title{
        font-size: 25px;
        line-height: 1.5;
        color: #08526d;
        margin-top: 40px;
    }
    .Pricing-Table .card .card-text{
        color: #787878;
        margin: 30px 0 10px;
        background-color: #f7f7f7;
        padding: 10px;
        font-size: 30px;
        font-weight: bold;
    }
    .Pricing-Table .card .card-text span{
        font-size: 17px;
        text-transform: uppercase;
    }
    .Pricing-Table .list-group-item{
        border: none;
    }
    .Pricing-Table .card .card-link{
        background-color: #ed1d24;
        font-weight: bold;
        display: inline-block;
        padding: 10px 15px;
        margin-top: 15px;
        margin-bottom: 30px;
        color: #FFF;
        font-size: 18px;
        text-transform: uppercase;
    }
    .Pricing-Table .card.carporate{
        position: relative;
        top: -20px;
    }
    @media(max-width:992px){
        .Pricing-Table .card.carporate{
            top: 0;
        }
    }
    .Pricing-Table .card.carporate .card-text{
        background-color: #ed1d24;
        color: #FFF;
        }
    .Pricing-Table .card.carporate .card-link{
        background-color: #08526d;

    }
    
/*End Pricing-Table*/
/*Start Choose Us*/
.choose-us img{
    max-width: 100%;
}
.choose-us .info{
    padding: 0px;
}
.choose-us .info:last-child{
    background-color: #08526d;
    color :#FFF;
    padding-top: 30px;
    padding-bottom: 30px;
    }
.choose-us .h1{
        margin: 40px;
    }
.choose-us p{
        margin: 40px;
        line-height: 2;
        font-size: 18px;
    }
    .choose-us .read-more{
    display: inline-block;
    padding: 8px 20px;
    margin: 0 0 0  40px;
    background-color:#ed1d24;
    color:#FFF;
    font-size:20px;
    font-weight: bold;
    text-transform: uppercase;
    }
/*End Choose Us*/

/*Start satats*/
.satats {
padding: 100px 0;
color:#08526d;
}
.satats .stat-box{
    margin-bottom: 40px;
}
.satats .number{
display: block;
font-size:50px;
font-weight: bold;

}
.satats p{ 
    color:#ed1d24;
    font-size: 20px;
    margin: 0;
}
/*End satats*/
/*Start Contact Us*/
.contact-us {
    padding: 50px 0 ;
    background-color: #ed1d24;
    color: #FFF;
    font-size: 20px;
}
.contact-us p {
    margin: 0;
}
@media(max-width: 768px){
    .contact-us p{
    margin-bottom: 30px;
    }
}
.contact-us a {
    color: #FFF;
    border: 2px solid #FFF;
    padding: 6px 15px 8px;
    text-transform: uppercase;
    font-weight: bold; 
}
/*End Contact Us*/
/*Start Footer*/
.footer{
    padding: 100px 0 ;
}
.footer .site-info h2{
    font-size: 50px;
    margin-bottom: 35px;
}
.footer .site-info h2 span:first-child{
    color:#08526d;
    font-weight: bold;
}
.footer .site-info h2 span:last-child{
    color:#ec1c23;
    
}
.footer .site-info p {
    line-height: 1.8;
    color:#727272;
}
.footer .site-info a {
    color:#08526d;
    font-size:18px;
    font-weight: bold;
}
.footer .site-info a:before {
    font-family:'FontAwesome' ;
    content: "\f138";
    display: inline-block;
    margin-right: 5px;
}
.footer .helpful-linkes h2 ,
.footer .contact h2 {
    font-size: 22px;
    color: #08526d;
    margin-bottom: 60px;
}
.footer .helpful-linkes ul li:before {
    font-family:'FontAwesome' ;
    content: "\f054";
    margin-right: 5px;
    color:#08526d;
    font-size: 12px;
    position: relative;
    top: -1px;
}
.footer .contact ul li {
    margin-bottom: 24px;
}
@media(max-width: 992px){
    .footer .helpful-linkes h2 , 
    .footer .contact h2{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .footer .contact ul li{
        margin-bottom: 5px;
    }
}
/*End Footer*/
/*Start copyright*/
.copyright{
    border-top: 1px solid #c0c0c0;
    padding: 20px;

}
.copyright ul {
    margin: 0;
}
.copyright ul li {
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
}
.copyright ul li a {
    color: #777;
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
}
/*End copyright*/